<section class="cta">
    <div class="overlay"></div>
    <div class="container">
        <div class="area">
            <div class="area-side">
                <h2 class="title">Comece um projeto</h2>
            </div>
            <div class="area-side">
                <p class="subtitle">Tem interesse em trabalhar junto? Vamos agendar um reunião rápida. Eu pago o café.</p>
            </div>
            <div class="area-side">
                <a href="#" class="button">Agendar reunião</a>
            </div>
        </div>
    </div>
</section>