<footer>
    <div class="container">
        <a href="#">
            <img class="logo" src="./assets/logo_white.png" width="40" height="40" alt="">
        </a>

        <p class="title">Vivendo, aprendendo e melhorando um dia de cada vez.</p>

        <div class="social">
            <a href="#"><img src="./assets/social_email.svg" width="20" height="20" alt=""></a>
            <a href="#"><img src="./assets/social_ig.svg" width="20" height="20" alt=""></a>
            <a href="#"><img src="./assets/social_linkedin.svg" width="20" height="20" alt=""></a>
            <a href="#"><img src="./assets/social_x.svg" width="20" height="20" alt=""></a>
            <a href="#"><img src="./assets/social_zap.svg" width="20" height="20" alt=""></a>
        </div>

        <p class="copyright">Criado por mim mesmo</p>

        <p class="legal">CNPJ: 000-000-0000/0000</p>
    </div>
</footer>