<section class="worked-with">
    <div class="container">
        <h2 class="title">Já colaborei com diversas empresas incríveis:</h2>
        <div class="grid">
            <img src="./assets/clients/redstamp.svg" width="320" height="120" alt="">
            <img src="./assets/clients/bldrs.png" width="320" height="120" alt="">
            <img src="./assets/clients/briteweb.svg" width="320" height="120" alt="">
            <img src="./assets/clients/chronicled.svg" width="320" height="120" alt="">
            <img src="./assets/clients/designlab.png" width="320" height="120" alt="">
            <img src="./assets/clients/domain7.svg" width="320" height="120" alt="">
            <img src="./assets/clients/redstamp.svg" width="320" height="112" alt="">
            <img src="./assets/clients/serpmetrics.svg" width="320" height="120" alt="">
        </div>
    </div>
</section>