<section class="intro">
    <div class="container">
        <div class="box">
            <h2 class="title">Oi, eu sou Lucas Martins Nunes</h2>
            <p class="subtitle">Desde que comecei minha jornada como designer freelancer, há 12 anos, fiz trabalhos remotos para agências, ajudei startups e colaborei com pessoas talentosas para criar produtos digitais para ambos uso empresarial e do consumidor. Sou bastante confiante, naturalmente curioso para melhorar minhas habilidades constantemente.</p>
        </div>
    </div>
</section>