<section class="skills">
    <div class="skills_overlay"></div>
    <div class="container">
        <div class="grid">
            <div class="skill">
                <div class="skill-icon">
                    <img class="hero_avatar" src="./assets/design.svg" width="40" height="40" alt="">

                </div>
                <p class="skill-title">Designer</p>
                <p class="skill-desc">Eu valorizo estruturas simples. design clean e interações customizadas.</p>
                <p class="skill-subtitle">Coisas que gosto de desenhar</p>
                <p class="skill-txt">UX, UI, Web, Apps, Logos</p>
                <p class="skill-subtitle">Ferramentas que uso</p>
                <div class="skill-txt">
                    <ul>
                        <li>Affinity Designer</li>
                        <li>Figma</li>
                        <li>Papel & Caneta</li>
                        <li>Sketch</li>
                        <li>WebFlow</li>
                    </ul>
                </div>

            </div>
            <div class="skill">
                <div class="skill-icon">
                    <img class="hero_avatar" src="./assets/code.svg" width="40" height="40" alt="">
                </div>
                <p class="skill-title">Frontend Developer</p>
                <p class="skill-desc">Gosto de codificar projetos do zero, trazer ideias a vida no navegador</p>
                <p class="skill-subtitle">Linguagens de uso</p>
                <p class="skill-txt">HTML, CSS, Angular, VUE, React</p>
                <p class="skill-subtitle">Ferramentas que uso</p>
                <div class="skill-txt">
                    <ul>
                        <li>Github</li>
                        <li>Tailwind</li>
                        <li>Vscode</li>
                        <li>Netlify</li>
                        <li>Xcode</li>
                        <li>Angular</li>
                    </ul>
                </div>

            </div>
            <div class="skill">
                <div class="skill-icon">
                    <img class="hero_avatar" src="./assets/design.svg" width="40" height="40" alt="">
                </div>
                <p class="skill-title">Video Maker</p>
                <p class="skill-desc">Amo fazer vídeos com  boas produções e efeitos especiais.</p>
                <p class="skill-subtitle">Coisas que gosto de filmar</p>
                <p class="skill-txt">Pessoas, Produtos, Ambientes, Carros</p>
                <p class="skill-subtitle">Ferramentas que uso</p>
                <div class="skill-txt">
                    <ul>
                        <li>Adobe Premiere</li>
                        <li>Davinci Resolve</li>
                        <li>Câmera Canon</li>
                        <li>Luzes</li>
                        <li>Microfone Rode</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</section>
