<section class="testimonials container">
    <h2 class="title">Depoimentos</h2>
    <p class="subtitle">As pessoas com quem já trabalhei disseram coisas boas ao meu respeito...</p>

    <div class="slider">
        <input checked type="radio" id="slider-1" name="slider">
        <input type="radio" id="slider-2" name="slider">
        <div class="slider-area">
            <div class="slider-item">
                <img width="180" height="180" src="./assets/avatars/pascal.png" alt="">
                <p class="desc">"Trabalhar com o Lucas foi um prazer, com certeza vamos fazer mais projetos juntos!..."</p>
                <p class="name">Antônio Gonçalves</p>
                <p class="role">Diretor Criativo, Empresa X</p>
            </div>
            <div class="slider-item">
                <img width="180" height="180" src="./assets/avatars/alvin.png" alt="">
                <p class="desc">"Bruno é um excelente comunicador e possui sensibilidade e confiança para se aprofundar nos projetos e entender de fato o que deve ser feito para sair um resultado excepcional."</p>
                <p class="name">Mateus Dantas</p>
                <p class="role">CEO, Imobiliária ABC</p>
            </div>
        </div>
        <div class="slider-nav">
            <label for="slider-1" class="n1"></label>
            <label for="slider-2" class="n2"></label>
        </div>
    </div>
</section>
